<div class="d-flex flex-column align-items-center justify-content-center vh-100 text-center">
    <h1 class="display-4 fw-bold">
        Hey, Champ!
        <span class="d-block">Schedule your next <span class="text-primary">Post</span> here!</span>
    </h1>

</div>